<video id="videoPlayer" width="1000" controls>
    <source src="http://localhost:4000/chunk/video" type="video/mp4">
</video>

<!-- <div class='vidcontainer'>
    <select class='qualitypick' autocomplete='off'>
        <option selected>fullHD</option>
        <option>720p</option>
        <option>360p</option>
    </select>
    <video controls preload>
        <source label="fullHD" src="http://localhost:4000/chunk/video" type="video/mp4">
        <source label="720p" src="http://localhost:4000/chunk/video" type="video/mp4">
        <source label="360p" src="http://localhost:4000/chunk/video" type="video/mp4">
    </video>
</div> -->